  <div class="contents_row">
    <%= form_for(@article) do |f| %>
      <h3>
        編集する
      </h3>
      <input placeholder="Image Url" type="text" name="image" value="<%= @article.image %>" autofocus="true">
      <%= f.text_area :text, placeholder:"text", style: "cols: 30 ; rows: 10" %>
      <%= f.submit "SENT" %>
    <% end %>
  </div>

