  <div class="contents_row">
    <%= form_for(@article) do |f| %>
      <h3>
        編集する
      </h3>
      <input placeholder="Image Url" type="text" name="image" value="<%= @article.image %>" autofocus="true">
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @article.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
